## Backup working notebook for data exploration

We will use awswrangler to make sure that we have a working connection to the AWS environment and that we can do our pandas-operations (groupby, melt etc.) without having to recreate the exact conditions

once this notebook executes successfullky, the next step is to migrate the code to `mcs-melter.py` which is in the root directory of this folder

### To-do
* migrate code to lambda
* exploration of more libraries being added for trajectory performance

In [1]:
# import required libraries

import boto3
import awswrangler as wr
import pandas as pd

In [2]:
# create boto session

session = boto3.session.Session(profile_name='saml')
s3 = session.resource('s3')

In [3]:
# reading parquet files

parquet_bucket = 's3://xwifi-od-s3-parquet/snmp/type=radiostatsMCS/*'
result = wr.s3.list_objects(parquet_bucket, boto3_session=session)

In [4]:
## Defining two sets of helper functions to apply astype & sum functions across large number of columns


def column_list_maker(df):
    """creates a list of columns that starts with 2.4 & 5"""
    return tuple(var for var in df.columns if var.startswith(("2.4", "5")))

def column_dict_maker(df):
    """Returns a dictionary of 72 columns 
    that are supposed to have int values"""
    column_dict = {}
    for idx, c in enumerate(column_list_maker(df)):
        column_dict[c]= int
    return column_dict

def agg_dict_maker(df):
    """Returns a dictionary of 72 columns 
    that are supposed to be aggregated into
    sum values"""
    agg_dict = {}
    for idx, c in enumerate(column_list_maker(df)):
        agg_dict[c]= sum
    return agg_dict

In [6]:
## Pandas manipulation

df = wr.s3.read_parquet(result[0], boto3_session=session)
df['timestamp'] = pd.to_datetime(df['timestamp']).dt.date
df = df.drop(['current_ip', 'current_location', 'dt'], axis=1)
df = df.rename(columns={'current_mac':'snmpreportedmac','timestamp':'date'})
df = df.fillna(0)
df = df.astype(column_dict_maker(df))
df = df.groupby(['date','snmpreportedmac'], as_index=False).agg(agg_dict_maker(df))
df = pd.melt(df, id_vars=['date', 'snmpreportedmac'], value_vars=column_list_maker(df))
df['sort_order'] = df['variable'].str.extract(r'[2,5]\.?[4]?_\w{2}_mcs(\d*)')
df['transmission_type'] = df['variable'].str.extract(r'[2,5]\.?[4]?_(\w{2})_mcs\d*')
df['radio_type'] = df['variable'].str.extract(r'([2,5]\.?[4]?)_\w{2}_mcs\d*')

In [7]:
df.head()

,date,snmpreportedmac,variable,value,sort_order,transmission_type,radio_type
0,2020-05-01,74:EA:E8:F2:C9:25,2.4_tx_mcs0,0,0,tx,2.4
1,2020-05-01,74:EA:E8:F2:CB:AD,2.4_tx_mcs0,0,0,tx,2.4
2,2020-05-01,74:EA:E8:F2:CD:4D,2.4_tx_mcs0,0,0,tx,2.4
3,2020-05-01,74:EA:E8:F2:CD:5D,2.4_tx_mcs0,0,0,tx,2.4
4,2020-05-01,74:EA:E8:F2:CD:61,2.4_tx_mcs0,0,0,tx,2.4

In [9]:
"""scripts have finished processing"""

'scripts have finished processing'

## Start of old code. do not use

In [3]:
#using S3 objects to generate file list
# my_bucket = s3.Bucket('xwifi-od-s3-transform')
# data_prefix='/converted-data/snmp/type=radioStatsMCS/'
# file_list = [obs for obs in my_bucket.objects.all()]

In [4]:
# file_list

In [5]:
# file_list = wr.s3.list_objects("s3://xwifi-od-s3-transform/radioStatsMCS")

In [6]:
# # identify csv bucket url

# # muy_bucket = 'xwifi-od-s3-transform/'
# my_bucket = 's3://xwifi-od-s3-transform/converted-data/snmp/type=radioStatsMCS/**/*'

# # store results in a list
# result = wr.s3.list_objects(my_bucket, boto3_session=session)

In [7]:
# len(result)

In [8]:
# result[0]

In [10]:
# len(result)

In [11]:
# result[0]

In [12]:
# # Defining two sets of helper functions to apply astype & sum functions across large number of columns

# def column_dict_maker(df):
#     """Returns a dictionary of 72 columns 
#     that are supposed to have int values"""
#     column_dict = {}
#     for idx, c in enumerate(df.columns):
#         if idx <=1:
#             continue
#         else:
#             column_dict[c]= int
#     return column_dict

# def agg_dict_maker(df):
#     """Returns a dictionary of 72 columns 
#     that are supposed to be aggregated into
#     sum values"""
#     agg_dict = {}
#     for idx, c in enumerate(df.columns):
#         if idx <=1:
#             continue
#         else:
#             agg_dict[c]= sum
#     return agg_dict

# def column_list_maker(df):
#     """creates a list of columns that have numeric values only"""
#     return tuple(var for var in df.columns if var not in ['date', 'snmpreportedmac'])

In [4]:
# def column_list_maker(df):
#     """creates a list of columns that have numeric values only"""
#     return tuple(var for var in df.columns if var not in ['date', 'snmpreportedmac'])

In [4]:
# if link.lower().startswith(("js", "catalog", "script", "katalog")):

In [15]:
# column_list_maker(df)

In [5]:
df = wr.s3.read_parquet(result[0], boto3_session=session)
df['timestamp'] = pd.to_datetime(df['timestamp']).dt.date
df = df.drop(['current_ip', 'current_location', 'dt'], axis=1)
df = df.rename(columns={'current_mac':'snmpreportedmac','timestamp':'date'})
df = df.fillna(0)

In [6]:
# column_list_maker(df)

In [7]:
# agg_dict = {}
# for idx, c in enumerate(column_list_maker(df)):
#     agg_dict[c] = int

In [8]:
# agg_dict

In [9]:
df = wr.s3.read_parquet(result[0], boto3_session=session)
df['timestamp'] = pd.to_datetime(df['timestamp']).dt.date
df = df.drop(['current_ip', 'current_location', 'dt'], axis=1)
df = df.rename(columns={'current_mac':'snmpreportedmac','timestamp':'date'})
df = df.fillna(0)
df = df.astype(column_dict_maker(df))
df = df.groupby(['date','snmpreportedmac'], as_index=False).agg(agg_dict_maker(df))
df = pd.melt(df, id_vars=['date', 'snmpreportedmac'], value_vars=column_list_maker(df))
df['sort_order'] = df['variable'].str.extract(r'[2,5]\.?[4]?_\w{2}_mcs(\d*)')
df['transmission_type'] = df['variable'].str.extract(r'[2,5]\.?[4]?_(\w{2})_mcs\d*')
df['radio_type'] = df['variable'].str.extract(r'([2,5]\.?[4]?)_\w{2}_mcs\d*')

In [10]:
df.head()

,date,snmpreportedmac,variable,value,sort_order,transmission_type,radio_type
0,2020-05-01,74:EA:E8:F2:C9:25,2.4_tx_mcs0,0,0,tx,2.4
1,2020-05-01,74:EA:E8:F2:CB:AD,2.4_tx_mcs0,0,0,tx,2.4
2,2020-05-01,74:EA:E8:F2:CD:4D,2.4_tx_mcs0,0,0,tx,2.4
3,2020-05-01,74:EA:E8:F2:CD:5D,2.4_tx_mcs0,0,0,tx,2.4
4,2020-05-01,74:EA:E8:F2:CD:61,2.4_tx_mcs0,0,0,tx,2.4

In [9]:
df = wr.s3.read_parquet(result[0], boto3_session=session)
df['timestamp'] = pd.to_datetime(df['timestamp']).dt.date
df = df.drop(['current_ip', 'current_location', 'dt'], axis=1)
df = df.rename(columns={'current_mac':'snmpreportedmac',
                       'timestamp':'date'})
df = df.fillna(0)

'scripts have finished processing'

In [13]:
df

,date,snmpreportedmac,2.4_tx_mcs0,2.4_tx_mcs1,2.4_tx_mcs2,2.4_tx_mcs3,2.4_tx_mcs4,2.4_tx_mcs5,2.4_tx_mcs6,2.4_tx_mcs7,...,5_rx_mcs0,5_rx_mcs1,5_rx_mcs2,5_rx_mcs3,5_rx_mcs4,5_rx_mcs5,5_rx_mcs6,5_rx_mcs7,5_rx_mcs8,5_rx_mcs9
0,2020-05-01,74:EA:E8:F2:C9:25,0,22725,34308,18095,17591,9548,5779,15578,...,199474,304524,183456,77823,68337,47792,31653,20422,3162,3463
1,2020-05-01,74:EA:E8:F2:CB:AD,0,40327,50804,20497,18281,16396,9686,24781,...,108226,190755,185718,134420,129412,66452,48138,27885,5205,5828
2,2020-05-01,74:EA:E8:F2:CD:5D,0,10986,18429,11805,11266,10963,5602,9375,...,168593,244436,128489,77944,77410,36468,17288,20829,6376,7388
3,2020-05-01,74:EA:E8:F2:CD:61,0,31732,76223,38533,41836,37240,21054,43111,...,334083,397082,209994,87483,77227,51134,30798,12699,4481,3746
4,2020-05-01,74:EA:E8:F2:CD:65,0,33427,52482,25680,20884,18512,7298,30783,...,90475,158018,127459,99296,101081,61572,39603,20381,4531,4045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4223,2020-05-02,A8:9F:EC:FC:32:1D,0,23688,30986,21223,23875,11228,7998,28899,...,72270,96065,69136,96159,118452,46864,54776,60924,25060,28361
4224,2020-05-02,A8:9F:EC:FC:32:4D,0,26138,42523,40157,61949,66430,41113,81861,...,71400,61548,67208,72711,125424,92564,80608,87878,39369,130
4225,2020-05-02,F8:2D:C0:BF:95:29,0,53157,100246,53730,52342,33239,16810,63856,...,175997,305408,207893,290109,287716,116219,82420,47325,13636,10031
4226,2020-05-02,A8:9F:EC:FC:29:1D,0,28950,51271,27875,26679,7112,4148,15300,...,121516,83633,38506,28816,35948,20276,18143,12109,5875,4011
4227,2020-05-02,A8:9F:EC:FC:30:C1,0,1317,1596,1142,1746,1500,1107,3311,...,104829,804483,204368,188050,541429,135300,14180,9105,1474,1693

In [14]:
# column_dict_maker(df)

In [15]:

column_dict = {}
for idx, c in enumerate(df.columns):
    if idx <=1:
        continue
    else:
        column_dict[c]= int

In [17]:
# column_dict

In [18]:
# Dataframe operations


df = df.astype(column_dict)

In [19]:
# df.head()

In [20]:
# Create the aggregate dictionary
agg_dict = {}
for idx, c in enumerate(df.columns):
    if idx <=1:
        continue
    else:
        agg_dict[c]= sum

In [21]:
# Basic aggregation & melting

df = df.groupby(['date','snmpreportedmac'], as_index=False).agg(agg_dict)
column_list = tuple(var for var in df.columns if var not in ['date', 'snmpreportedmac'])
df = pd.melt(df, id_vars=['date', 'snmpreportedmac'], value_vars=column_list)

In [22]:
# df.head()

In [23]:
# regex to create sort_order, tranmission_type & radio_type columns

df['sort_order'] = df['variable'].str.extract(r'[2,5]\.?[4]?_\w{2}_mcs(\d*)')
df['transmission_type'] = df['variable'].str.extract(r'[2,5]\.?[4]?_(\w{2})_mcs\d*')
df['radio_type'] = df['variable'].str.extract(r'([2,5]\.?[4]?)_\w{2}_mcs\d*')

In [26]:
# df.head(20)